@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  font-family: "Rubik", Tahoma, Geneva, Verdana, sans-serif;
  background: #111;
}
* {
  box-sizing: border-box;
}
.weather-app {
  background: url(../Img/bg.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  transition: 500ms;
  opacity: 1;
}
.weather-app::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main {
  /* position: absolute; */
  display: flex;
  width: 100%;
  height: 90%;
  align-items: flex-start;
  flex-direction: column-reverse;
  justify-content: space-between;
  row-gap: 100px;
}
.left-site {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-bottom: 40px;
}
.temp,
.city-time,
.weather {
  margin: 0 1rem;
}
.temp {
  font-size: 7.5rem;
}
.name {
  font-weight: lighter;
}
.city-time h1 {
  margin-bottom: 0.2em;
  margin: 0;
  font-size: 3em;
}
.weather img {
  display: block;
  margin: 0.3em 0;
  width: 55px;
}
.panel {
  position: absolute;
  top: 0;
  width: 35%;
  height: 100%;
  right: 0;
  padding: 3em 2em;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 1;
  overflow-y: scroll;
}
